{% macro backbone_template(name) -%}
	<script id="{{name}}-template" type="text/template">
		{{ caller() }}
	</script>
{%- endmacro %}

{% call backbone_template('saves') %}
<% if (manual) { %>
	<span class="save manual">
		<span class="save-type action" title="<%- manual.time %>">
			load manual save
		</span>
		<span class="timestamp">
			<%- manual.time %>
		</span>
	</span>
<% } %>
<% if (auto) { %>
	<span class="save auto">
		<span class="save-type action" title="<%- auto.time %>">
			load autosave
		</span>
		<span class="timestamp">
			<%- auto.time %>
		</span>
	</span>
<% } %>
{% endcall %}

{% call backbone_template('completed-entry') %}
<div class="entry">
	<span title="edit entry">
		<strong><%- subcategory %> - </strong>
		<%- description %>
	</span>
</div>
{% endcall %}

{% call backbone_template('editing-entry') %}
<div class="editing-entry">
	<div class="link">
		Link: <input type="text" value="<%- link %>"/>
	</div>
	<div class="description">
		Description: <input type="text" value="<%- description %>"/>
	</div>
	<select class="subcategory">
		<% for (var subcategory in subcategories) { %>
			<option value="<%- subcategories[subcategory][0] %>">
				<%- subcategories[subcategory][1] %>
			</option>
		<% } %>
	</select>
	<button class="confirm">OK</button>
	<button class="remove">Remove</button>
</div>
{% endcall %}
