<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
	<head>
		<title>Recaps</title>
		<link rel="stylesheet" type="text/css" href="/static/css/main.css">
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/underscore.js"></script>
		<script type="text/javascript" src="/static/js/backbone.js"></script>
		<script type="text/javascript" src="/static/js/main.js"></script>
	</head>
	<body>
		<!-- JSON populated with the recapper data -->
		<script type="text/javascript">
			recappers = {
				{% for recapper in recappers %}
					{{ recapper['id'] }}: {
						header: "{{ recapper['header'] }}"
					}
				{% endfor %}
			};
		</script>

		<!-- Our actual recaps -->
		<div id="recaps">
		</div>

		<!-- The login widget -->
		<div id="login-widget">
			<div class="blocker">
			</div>
			<div class="main container">
				<p>Sign in:</p>
				<select class="recapper">
					{% for recapper in recappers %}
						<option value="{{ recapper['id'] }}">{{ recapper['name'] }}</option>
					{% endfor %}
				</select>
				<button type="button">Go</button>
			</div>
		</div>
	</body>
</html>
