{% macro backbone_template(name) -%}
	<script id="{{name}}-template" type="text/template">
		{{ caller() }}
	</script>
{%- endmacro %}

{% call backbone_template('saves') %}
<% if (manual) { %>
	<span class="save-type manual">
		Load last manual save
	</span>
	<span class="timestamp">
		(<%- manual.time %>)
	</span>
<% } %>
<% if (auto) { %>
	<span class="save-type auto">
		Load last autosave
	</span>
	<span class="timestamp">
		(<%- auto.time %>)
	</span>
<% } %>
{% endcall %}

{% call backbone_template('completed-entry') %}
<div class="entry">
	<strong><%- subcategory %> - </strong>
	<%- description %>
</div>
{% endcall %}

{% call backbone_template('editing-entry') %}
<div class="editing-entry">
	<div class="description">
		Description: <input type="text" value="<%- description %>"/>
	</div>
	<div class="link">
		Link: <input type="text" value="<%- link %>"/>
	</div>
	<select class="subcategory">
		<% for (var subcategory in subcategories) { %>
			<option value="<%- subcategories[subcategory][0] %>">
				<%- subcategories[subcategory][1] %>
			</option>
		<% } %>
	</select>
	<button class="confirm">OK</button>
	<button class="remove">Remove</button>
</div>
{% endcall %}
