<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
	<head>
		<title>Recaps</title>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/underscore.js"></script>
		<script type="text/javascript" src="/static/js/backbone.js"></script>
	</head>
	<body>
		<div id="login-widget">
			<p>Please sign in:</p>
			<select class="recapper">
				{% for recapper in recappers %}
					<option value="{{ recapper }}">{{ recapper }}</option>
				{% endfor %}
			</select>
			<button type="button">Go</button>
		</div>
	</body>
</html>
