$dtoid-red: #c00;

@mixin normal-font {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@mixin centered {
	margin-left: auto;
	margin-right: auto;
}

@mixin round-corners {
	border-radius: 4px;
}

body {
	@include normal-font;
}

select, button {
	display: block;
	border-radius: 4px;
	box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: white;
	padding: 3px;
}

.container:before, .container:after {
	content: "";
	display: table;
}

.container:after {
	clear: both;
}

.container {
	zoom: 1;
}

#login-widget {
	.blocker {
		background-color: rgba(0, 0, 0, 0.8);
		position: fixed;
		left: 0px;
		right: 0px;
		top: 0px;
		bottom: 0px;
	}

	.main {
		position: relative;
		margin-top: 200px;
		@include centered;
		width: 200px;
		padding: 20px 10px;
		background-color: #ddd;
		@include round-corners;

		p {
			margin: 0px;
			margin-bottom: 15px;
		}

		select {
			@include centered;
		}

		button {
			float: right;
		}
	}
}

#recaps {
	margin-top: 100px;
	width: 620px;
	@include centered;
	
	textarea {
		display: block;
		width: 600px;
		@include centered;
	}

	.category-image {
		text-align: center;
		img {
			cursor: pointer;
		}
	}

	.add-entry {
		text-align: center;
		a {
			font-size: 32px;
			cursor: pointer;
		}
	}

	.fpotd {
		margin-top: 20px;
	}

	.isms {
		min-height: 300px;
	}

	.closingisms {
		min-height: 100px;
	}

	.entry {
		color: $dtoid-red;
		margin-top: 10px;
		span {
			cursor: pointer;
		}
	}
}

#control-panel {
	background-color: black;
	color: white;
	position: fixed;
	top: 0px;
	left:  0px;
	right: 0px;
	padding: 4px;

	.greeting {
		display: inline-block;
		vertical-align: middle;
		padding-bottom: 14px;
		padding-left: 10px;
	}

	.saves {
		display: inline-block;

		.save {
			margin-left: 3px;
			margin-right: 3px;

			display: inline-block;

			.save-type {
				cursor: pointer;
			}

			.timestamp {
				color: #aaa;
				font-size: x-small;
				display: block;
			}
		}
	}
}
